body{
    padding: 10%;
}
.galeria{
    position: absolute;
    top: 42%;
    left: 17%;
    padding-bottom: 2%;
}
.revez{
    position: absolute;
    top: 5%;
    left: 15%;

}
.derecho{
    position: absolute;
    top: 5%;
    left: 65%;
    rotate: 180deg;
}
.texto{
    position: absolute;
    top: 0%;
    left: 40.5%;
    text-align: center;
}
h1{
    font-size: 400%;
}
p{
    font-size: 140%;
    margin-top: 0%;
}